<form method="post" action="/articles/<%=@article.id%>">
<input type="hidden" name="_method" value="patch">
  <label for="title"> Title: </label>
  <input type="text" id="title" name="article[title]" value="<%= @article.title %>">
  <label for="content"> Content: </label>
  <input type="text" id="content" name="article[content]" value="<%= @article.content %>">
  <input type="submit"/>
</form>